<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de EJS</title>
</head>
<body>
    <p>Exemplo de EJS!!!</p>
    <p>Com o EJS a gente consegue fazer uma renderização do html, e consegue mexer no HTML a depender da informação!</p>
    <p><%=variavel%></p>
</body>
</html>